<!-- wrap in some bootstrap panel -->
<div class="row">
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <div class="col-sm-2 col-sm-offset-2 col-xs-3">
    <a class="github-button" href="https://github.com/{{ include.repo }}/archive/master.zip" data-icon="octicon-cloud-download" aria-label="Download {{ include.repo }} on GitHub">Download</a>
  </div>
  <div class="col-sm-2 col-xs-3">
    <a class="github-button" href="https://github.com/{{ include.repo }}" data-icon="octicon-eye" data-count-href="/{{ include.repo }}/watchers" data-count-api="/repos/{{ include.repo }}#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch {{ include.repo }} on GitHub">Watch</a>
  </div>
  <div class="col-sm-2 col-xs-3">
    <a class="github-button" href="https://github.com/{{ include.repo }}" data-icon="octicon-star" data-count-href="/{{ include.repo }}/stargazers" data-count-api="/repos/{{ include.repo }}#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star {{ include.repo }} on GitHub">Star</a>
  </div>
  <div class="col-sm-2 col-xs-3">
    <a class="github-button" href="https://github.com/{{ include.repo }}/fork" data-icon="octicon-repo-forked" data-count-href="/{{ include.repo }}/network" data-count-api="/repos/{{ include.repo }}#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork {{ include.repo }} on GitHub">Fork</a>
  </div>
</div>