<div class="row social-share" id="social-share-buttons">
  <div class="facebook col-sm-4 col-xs-6">
    <iframe src="https://www.facebook.com/plugins/like.php?href={{ site.url }}{{ page.url }}&amp;show_faces=false&amp;layout=button_count&amp;share=true" scrolling="no" frameborder="0" style="height: 21px; width: 160px;" allowTransparency="true"></iframe>
  </div>
  <div class="twitter col-sm-4 col-xs-6">
    <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}+{{ site.url }}{{ page.url }}+%23EusebiusTech" class="twitter-share-button" data-hashtags="EusebiusTech" data-show-count="true">Tweet</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>  
  </div>
  <div class="linkedin col-sm-4 col-xs-6">
    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
    <script type="IN/Share" data-url="{{ site.url }}{{ page.url }}" data-counter="right"></script>
    <noscript>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}" title="Share on LinkedIn">
        <span>LinkedIn share</span>
      </a>
    </noscript>
  </div>
</div>