.ig-profile-pic {
  height: 2em;
}

a.ig-username {
  background-color: transparent;
  padding: 0%;
}

.ig-verified {
  color: #3897f0;
}

.ig-story-finished {
  color: #7e7e7e;
}

.ig-story-partly-viewed, .ig-story-not-viewed {
  color: #dc3879;
}

.ig-story-finished, .ig-story-partly-viewed, .ig-story-not-viewed {
  font-weight: bold;
}

.table>tbody>tr>td {
  vertical-align: middle;
}

/* Text alignment for only the body of a table */

.table>tbody>tr>td.body-left {
  text-align: left;
}

.table>tbody>tr>td.body-center {
  text-align: center;
}

.table>tbody>tr>td.body-right {
  text-align: right;
}