.ig-profile-pic {
  height: 2em;
}

a.ig-username {
  background-color: transparent;
  padding: 0%;
}

.ig-verified {
  color: #3897f0;
}

.ig-story {
  color: #dc3879;
  font-weight: bold;
}

.table>tbody>tr>td {
  vertical-align: middle;
}