<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% include google_analytics.html %}
    <script>
      window.location = "{{ page.to }}";
    </script>
    <noscript>
      <a href="{{ page.to }}">Click here to go to 
        {% if page.title %}
          <em>{{ page.title }}</em>
        {% else%}
          the redirected page
        {% endif %}
        .
       </a>
    </noscript>
  </head>
  <body>
    {{ content }}
  </body>
</html>
